<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment10Nhurtado</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div style="float: right;">
    <% if user_signed_in? %>
      <h2><%= current_user.name %></h2>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path%>
    <% end %>
    </div>
    
     
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
